/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-may-2019, 15:07:52
    Author     : Porfirio Perez
*/
div#principalBtn {
    position: absolute;
}
#formularioProducto {
    float: left;
}
#formularioCarrito {
    float: left;
}
#titulo {
    float: left;
}
#login {
    float: right
}
#medio {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
